<pre>
    {{worktimes | json}}
</pre>

<ul>
    <li *ngFor="let item of worktimes">
        {{item.name}}

        <div *ngFor="let time of item.times; let i = index">
            <input type="text"
                   [name]="'start-' + i"
                   placeholder="Start"
                   [(ngModel)]="time.start">

            <input type="text"
                   [name]="'end-' + i"
                   placeholder="End"
                   [(ngModel)]="time.end">
        </div>

        <button type="button" (click)="addTime(item)">
            Add time
        </button>
    </li>
</ul>